# Compiled binary files
*.exe
*.o
*.so
mysecuritytool

# Output directories
bin/

# Dependency directories
vendor/
go.sum

# OS-specific files
*.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Go binary
/go

# Editor-specific files
.vscode/
.idea/

# Test cache
*.test

# Log files
*.log

#Env file
.env